<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Betting tips </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/image/logo.png">
    <style type="text/css">
    </style>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script type="text/javascript" src="assets/js/vue.min.js"></script>

</head>

<body>
    <div id="PRE_LOADER_OVERLAY" style="display:none;">
        <span> <img src="assets/image/rings.svg" /> </span>
    </div>

    <div id="vuePage">
        <table align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="3" class="logo">
                        <a class="logolink" href="#" :title="AppEnv.Name">
                            <img src="assets/image/logo.png">
                            <h1>{{AppEnv.Name}} <b>  </b> </h1>
                        </a>
                        <p class="tablet">Professional {{AppEnv.Name}} </p>
                        <div class="menu desktop">
                            <a href="https://www.bettingtips1x2.com/">Betting Tips</a>
                            <a href="https://www.bettingtips1x2.com/toptips.html">Today's Top</a>
                            <a href="https://www.bettingtips1x2.com/tipsters.html">Paid Tipsters</a>
                            <a href="https://www.bettingtips1x2.com/predictions-explained.html">Predictions explained</a>
                            <a href="https://www.bettingtips1x2.com/disclaimer.html">Disclaimer</a>
                            <a href="https://www.bettingtips1x2.com/contact.html">Contact Us</a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="mobilemenu mobile" align="center">
                        <select name="selectmenu" id="selectmenu" onchange="javascript:location.href = this.value;">
                            <option value="">Menu</option>
                            <option value="/">Football Tips</option>
                            <option value="/tennis-betting-tips.html">Tennis Tips</option>
                            <option value="/hockey-betting-tips.html">Ice Hockey Tips</option>
                            <option value="/baseball-betting-tips.html">Baseball Tips</option>
                            <option value="/basketball-betting-tips.html">Basketball Tips</option>
                            <option value="/nfl-betting-tips.html">American Football Tips</option>
                            <option value="/toptips.html">Today's Top</option>
                            <option value="/tipsters.html">Paid Tipsters</option>
                            <option value="/predictions-explained.html">Predictions explained</option>
                            <option value="/disclaimer.html">Disclaimer</option>
                            <option value="/contact.html">Contact Us</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="mainmenu desktop">
                        <div class="inner" style="border:1px solid #d6d6d6;">
                            <div class="sportsMenu" style="margin:0">
                                <!--
                                 v-for="(row, index) in LIST_RECORD" track-by="Id"
                                -->
                                <a href="#" v-for="(row, index) in GAMES_CATEGORIES" track-by="id" :class="index==0? 'active':''" 
                                   v-on:click="GetCategoryGames(row);">
                                    {{row.name}}
                                </a>

                                <a href="https://www.bettingtips1x2.com/" class="active">Football</a>
                                <!--<a href="https://www.bettingtips1x2.com/tennis-betting-tips.html">Tennis</a>
                                <a href="https://www.bettingtips1x2.com/hockey-betting-tips.html">Ice Hockey</a>
                                <a href="https://www.bettingtips1x2.com/baseball-betting-tips.html">Baseball</a>
                                <a href="https://www.bettingtips1x2.com/basketball-betting-tips.html">Basketball</a>
                                <a href="https://www.bettingtips1x2.com/nfl-betting-tips.html">American Football</a>-->
                            </div>
                        </div>
                        <div class="inner" style="border:1px solid #d6d6d6;">
                            <h2>
                                Top Tips <span style="float:right;color: #ffffff;background-color: #4b4b4c; padding:2px 5px; font-size:13px; border-radius: 3px;">
                                    $9.99
                                    / Day
                                </span>
                            </h2>
                            <table style="width:200px">
                                <tbody>
                                    <tr>
                                        <td>Date:</td>
                                        <td>Monday, 24.02.2020</td>
                                    </tr>
                                    <tr>
                                        <td>Kick off:</td>
                                        <td>19:00 (now is 12:23)</td>
                                    </tr>
                                    <tr>
                                        <td>Total Tips:</td>
                                        <td>5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><strong>Get our top tips for today for just $9.99</strong></p>
                            <center>
                                <a class="button" href="https://www.bettingtips1x2.com/toptips.html">Read more</a>
                            </center>
                        </div>

                        <div class="inner" style="border:1px solid #d6d6d6;">
                            <h2>
                                Paid Tipsters <span style="float:right;color: #ffffff;background-color: #4b4b4c; padding:2px 5px; font-size:13px; border-radius: 3px;">
                                    $25
                                    / Week
                                </span>
                            </h2>
                            <p><strong>Daily tips from professional tipsters.</strong></p>
                            <table class="results" style="width:200px" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th colspan="2">Tipster</th>
                                        <th>Form</th>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Uganda.png"></td>
                                        <td>Wasswa Mukwala</td>
                                        <td align="center">5/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/France.png"></td>
                                        <td>Sebastien Duval</td>
                                        <td align="center">5/5</td>
                                    </tr>
                                    <!--<tr>
                                        <td><img class="flag"
                                                 src="assets/image/flags/South-Africa.png"></td>
                                        <td>Donald Sibanda</td>
                                        <td align="center">5/5</td>
                                    </tr>-->
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Czech.png"></td>
                                        <td>Marek Bezdicka</td>
                                        <td align="center">5/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Latvia.png"></td>
                                        <td>Jorens Bankavs</td>
                                        <td align="center">5/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Portugal.png"></td>
                                        <td>Andre Trigueira</td>
                                        <td align="center">4/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Ireland.png"></td>
                                        <td>Uilliam Domhnall</td>
                                        <td align="center">4/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/USA.png"></td>
                                        <td>Tre Medlin</td>
                                        <td align="center">4/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Poland.png"></td>
                                        <td>Tolek Rusak</td>
                                        <td align="center">4/5</td>
                                    </tr>
                                    <tr>
                                        <td><img class="flag" src="assets/image/flags/Germany.png"></td>
                                        <td>Peter Hohmann</td>
                                        <td align="center">4/5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                Hire a professional tipster and get special football predictions every day. The tipsters send
                                3 to 6 football (soccer) games per day.
                            </p>
                            <center>
                                <a class="button" href="https://www.bettingtips1x2.com/tipsters.html">Read more</a>
                            </center>
                        </div>
                    </td>

                    <td class="content">

                        <div class="inner">
                            <center>
                                <a href="https://www.bettingtips1x2.com/tipsters.html">
                                    <strong>PAID TIPSTERS</strong>
                                    <span style="color: #ffffff;background-color: #4b4b4c; padding:1px 5px; margin-left:10px; font-size:13px; border-radius: 3px;">
                                        $25
                                        / Week
                                    </span>
                                    <div style="margin-top:5px;">
                                        Hire a professional tipster and get special football predictions every day.
                                    </div>
                                </a>
                            </center>
                        </div>

                        <div class="inner">
                            <center>
                                <a href="https://www.bettingtips1x2.com/toptips.html">
                                    <strong>TOP TIPS TODAY</strong>
                                    <span style="color: #ffffff;background-color: #4b4b4c; padding:1px 5px; margin-left:10px; font-size:13px; border-radius: 3px;">
                                        $9.99
                                        / Day
                                    </span>
                                    <div style="margin-top:5px;">
                                        Get our top tips for today for just $9.99
                                    </div>
                                </a>
                            </center>
                        </div>

                        <div class="inner">
                            <!--
                            <a href="/worldcup.html">
                            <h2 style="border:none; padding:0">All World Cup Group Stage Predictions - just $99</h2>
                            <img src="/world_cup.png" width="100%">
                            </a>
                            <br><hr>
                            -->

                            <span class="tablet">
                                <center>Betting Tips - Monday, 24 February 2020.</center>
                            </span>
                            <h2 class="head" style="text-align:center;">
                                <a href="#2020-02-23.html" class="button"
                                   style="float:left;">« Prev</a> 
                                {{moment(Game.gamestartTime).format('ddd LL')}}
                                <a href="#2020-02-25.html" class="button"
                                   style="float:right;">Next »</a>
                            </h2>

                            <div class="clear"></div>

                            <div>
                                Order by:
                                <input name="order" type="radio" class="order" value="game_time,game_comp"
                                       checked="checked"> Time <input name="order" type="radio" class="order"
                                                                      value="game_comp,game_time"> Competition
                            </div>
                             {{Game}}

                            <table width="100%" class="results" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <th colspan="3">&nbsp;</th>
                                        <th class="desktop">&nbsp;</th>
                                        <th class="desktop" colspan="3">Odds</th>
                                        <th>Tip</th>
                                    </tr>

                                    <tr  v-for="(item, index) in GAMES" track-by="id">
                                        <td>
                                            <img :src="item.image" 
                                                 style="margin-right:5px;"
                                                 :alt="item.league" width="16" height="16">
                                        </td>
                                        <td class="desktop">{{item.league}} </td>
                                        <td> {{moment(item.gamestartTime).format('HH:mm')}}</td>
                                        <td>
                                            <a href="#">
                                                {{item.hometeam}} - {{item.awayteam}}
                                            </a>
                                        </td>
                                        <td align="center" class="desktop"> {{getGameOdd(item.gameodds, "Home win").value}} </td>
                                        <td align="center" class="desktop">  {{getGameOdd(item.gameodds, "Draw").value}} </td>
                                        <td align="center" class="desktop">  {{getGameOdd(item.gameodds, "Away win").value}} </td>
                                        <td align="center">{{item.gameprediction.bothresult}}</td>
                                        <td align="right">
                                            <a class="button grey" href="#">More</a>
                                        </td>
                                    </tr>    
                                </tbody>
                            </table>
                        </div>

                    </td>
                    <td class="sidebar tablet">
                        <div class="inner leftMargin">

                        </div>
                        <div class="inner leftMargin">
                            <!--<a target="_blank" href="http://paypal.com/"><img src="assets/image/flags/paypal.png"></a>-->
                        </div>
                        <div class="inner leftMargin">
                            <!--<a target="_blank" href="http://skrill.com/"><img src="assets/image/flags/skrill.png"></a>-->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="footer" colspan="3">
                        OUR FRIENDS<br><a href="#" target="_blank"
                                          title="#">Betting Tipsters</a> | <a href="#"
                                                                              target="_blank" title="vippredictions.com">Vip Predictions</a>
                        <hr><a class="button" href="contact.html">Contact us</a><br><a href="#" title="Betting tips 1X2">2020 wwww.myprediction.com</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <script type="text/javascript" src="assets/js/index.js"></script>
</body>

</html>