
@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .noprint, .noprint * {
        display: none !important;
    }
}

#PRE_LOADER_OVERLAY {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-color: #000;*/
    background-color: #ccc;
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 3000;
}

    #PRE_LOADER_OVERLAY span {
        padding: 5px;
        border-radius: 5px;
        /*height: 100px;
        width: 100px;*/
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        margin-top: -50px;
        display: block;
    }

/* GLOBAL CSS  */

.required:after {
    content: ' *' !important;
    color: red !important;
    font: bold 14px !important;
    display: inline !important;
    padding: 1px !important;
}

[v-cloak] {
    display: none;
}

.cursor {
    cursor: pointer;
}

.text-black {
    color: #000;
}

.table-wrapper {
    overflow-x: auto;
}

    .table-wrapper table {
        white-space: nowrap
    }


.not-allowed, disabled {
    cursor: not-allowed;
}

.table-spacing {
    border-collapse: collapse;
    width: 100% !important;
}

    .table-spacing td {
        padding-top: .3em;
        padding-bottom: .2em;
        padding-left: .3em;
    }
 /*>>>>>>>>>>>>>>>>>>> ADMIN LTE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
label {
    padding-top: 4px !important;
    margin-top: 4px !important;
    font-size: 13px;
    font-weight: 400 !important;
}

.scrollStyle {
    overflow-x: auto;
}

table.dataTable tr{
    padding: 0px !important;
}
table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}                           
table.dataTable thead {
    width: 100% !important;
}

/*table.dataTable tbody td, table.dataTable thead td {
    padding-top: 0px !important;
    padding-right: 2px !important;
    padding-bottom: 0px !important;
    padding-left: 6px !important;
    white-space: nowrap;
}
table.dataTable tbody tr, table.dataTable thead tr {
    padding-top: 0px !important;
    padding-right: 2px !important;
    padding-bottom: 0px !important;
    padding-left: 4px !important;
    white-space: nowrap;
}

table.dataTable td {  
    font-size: 11px !important;
    white-space: nowrap;
    font-weight: 500 !important;
}

.tbl-datatable th {   
    font-size: 12px;
    white-space: nowrap;
    font-weight: 600 !important;
}

.tbl-datatable table {
    width: 100% !important;
}*/

.tbl-checkbox {
    transform: scale(1.5);
}

.dt-buttons {
    margin-left: 6px !important;
    padding-top: 2px;
}

.jdatepicker, .jmonthpicker, .jdatetimepicker {
    /* display: block; */
    cursor: not-allowed;
    width: 70%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.ui-datepicker {
    font-size: 12px !important;
}

.select2 {
    width: 100% !important;
}

.select2-selection__rendered {
    margin-top: -4px !important;
    padding: 3px !important;
    padding-left: 5px !important;
}
